PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=OV7hkS93dlMs17l9pCon3l3Rk-6ZeJkK
DRIVE_DISK=local
DB_CONNECTION=mysql
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=lucid
MYSQL_PASSWORD=
MYSQL_DB_NAME=lucid
